# Class Work

In [21]:
fruits = ["Apple","Orange","Grapes"]
print(fruits)

['Apple', 'Orange', 'Grapes']

In [22]:
for x in fruits:
    print(x)
    print("Zohaib")

Apple
Zohaib
Orange
Zohaib
Grapes
Zohaib

In [23]:
# Rang(start(default = 0), end, step(default = 1))

In [20]:
for i in range(0,11,2):
    print(f'{i}, Abdul Moiz')

0, Abdul Moiz
2, Abdul Moiz
4, Abdul Moiz
6, Abdul Moiz
8, Abdul Moiz
10, Abdul Moiz

In [24]:
# list()
# tuple()
# dist()

In [25]:
li = list(range(0,11,2))
print(li)

[0, 2, 4, 6, 8, 10]

In [30]:
number = [1,2,3,4,5]
square = []
for value in number:
    value = value**2
    square.append(value)

In [31]:
print(square)

[1, 4, 9, 16, 25]

In [33]:
[value**2 for value in number]

[1, 4, 9, 16, 25]

In [37]:
abc = ["zohaib","Abdul MOiz", "salman", "Hamza"]
abc.append( "ha")
abc.insert(0,"ahmad")
abc

['ahmad', 'zohaib', 'Abdul MOiz', 'salman', 'Hamza', 'ha']

In [44]:
name = ["a","b","c","a"]
name.append("d")
print(f'Hello!{name[0]}')
print(f'Hello!{name[1]}')
print(f'Hello!{name[2]}')
for x in name:
    msg = f"hello chutiya {x}"
    print(msg)

Hello!a
Hello!b
Hello!c
hello chutiya a
hello chutiya b
hello chutiya c
hello chutiya d

In [56]:
name.index("a")
name.index("b")
name.index("a")

0